@import "_variability.scss";
@import "_typography.scss";


body,
html {
  // display: flex;
  box-sizing: border-box;
  height: 100vh;
  // width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  z-index: -1;
}

.pimg1 {
  background-image: url(../images/sky.jpg);
  min-height: 100vh;
  // min-width: 100vw;
 
}

.pimg2 {
  background-image: url(../images/coast.jpg);
  min-height: 800px;
}

.pimg3 {
  background-image: url(../images/block.jpg);
  min-height: 800px;
}

.pimg4 {
  background-image: url(../images/citybridge.jpg);
  min-height: 800px;
}

.pimg5 {
  background-image: url(../images/feather.jpg);
  min-height: 800px;
}
.section-lt {
  background-color: #f4f4f4;
  color: #666;
  z-index: 1;
}

.section-drk {
  background-color: #282e34;
  color: #ddd;
  text-align: center;
  padding: 100px 100px;
  font-family: $primaryfont-family;
  z-index: 1;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  z-index: 1;
}

.ptext .brd {
background-color: #111;
color: white;
padding: 20px;
font-family: $primaryfont-family;
}

.ptext .brd .trans {
    background-color: transparent;
    font-family: $primaryfont-family;
}
//title page
.section.section-lt {
position: relative;
//margin-top: -100px;
width: 100vw;
height: 100vh;
//
//
  font-family: $primaryfont-family;
  color: $four-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

.Title__page {
text-align: left;
position: absolute;
top: 30%;

padding-left: 150px;
}

.h1{
  z-index: 2;
}

}


.jack {
  background-image: linear-gradient($primary-color, $secondary-color);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.rectangle1 {
position: relative; left: 80%; top: 70%;
width: 2038px;
height: 155.97px;
background: linear-gradient(180deg, #BE6AD3 0%, #7C95F1 100%);
border-radius: 201px;
transform: rotate(-35deg);
opacity: 0.3;
}

.rectangle2 {
  position: relative; left: 52.5%; top: 100px;
  width: 1233.8px;
  height: 150.8px;
  background: linear-gradient(180deg, #BE6AD3 0%, #7C95F1 100%);
  border-radius: 201px;
  transform: rotate(-35deg);
  opacity: 0.3;
}

.rectangle3 {
  position: relative; left: 145%; top: -500px;
  width: 1233.8px;
  height: 150.8px;
  background: linear-gradient(180deg, #BE6AD3 0%, #7C95F1 100%);
  border-radius: 201px;
  transform: rotate(-35deg);
  opacity: 0.3;
}



//software section


//[class^="col"] {
//  padding: 15px;
//  
//  min-height: 150px;
//  border-radius: 5px;
//}

//img {
//  height: 100px;
//  width: 100;
//}

//  h3{
//    font-family: $primaryfont-family;
//    font-size: $font-L;
//    color: $third-color;
//  }


//box color and software skills section
.section-sft {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont-family;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
  z-index: 1;
}


.box {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
  z-index: 2;
}

.box:hover {
  height: 400px;

}

.box .imgbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #060c21;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .imgbx img {
  max-width: 500px;
  max-height: 200px ;
  opacity: 0.1;
  transition: 0.5s;
  z-index: 4;
}

.box:hover .imgbx img {
  position: relative;
  opacity: 1;
  transition: 0.5s;
  top: -50px;
  z-index: 4;
}

.box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.box:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  filter:blur(40px);
}
.box:before, .box:after {
  background: linear-gradient(235deg,#BE6AD3,#010615,#7C95F1);
}


.box .sftcontent {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  z-index: 5;
}
.box:hover .sftcontent {
  opacity: 1;
}

.box:hover .sftcontent h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  font-family: $primaryfont-family;
}
.box:hover .sftcontent h2 span {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}

//box color and software skills section -- END

//projects section

.section-sft1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont-family;
  display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    //flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
  z-index: 1;
}

.project__title {
color:rgb(172, 172, 172);
  font-family: $primaryfont-family;
}

.skillset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box1 {
  position: relative;
  width: 600px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
  z-index: 2;
}


.box1 .imgbx1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #060c21;
  box-sizing: border-box;
  z-index: 3;
  display: block;
  
}

.box1 .imgbx1 img {
  position: relative;
  max-width: 500px;
  width: 500px;
  max-height: 800px ;
  height: 800px;
  opacity: 1;
  transition: 3s;
  z-index: 5;
  top: 40px;
  left: 40px;
  border-radius: 12px; 
}

.box1:hover .imgbx1 img {
  position: relative;
  opacity: 1;
  width: 550px;
  height: 850px;
  transition: 2s;
  border-radius: 12px; 
  z-index: 4;
}
.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 40px;
  z-index: 5;
  color: black;
  text-align: center;
  font-weight: bold;
}
.container .btn{
  background-color: darkgrey;
  border: none;
}

.container .btn:hover{
  background-color: purple;
  color: lightblue;
}

.box1:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.box1:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  filter:blur(40px);
}
.box1:before, .box1:after {
  background: linear-gradient(235deg,#BE6AD3,#010615,#7C95F1);
}


.box1 .sftcontent1 {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 1.5s;
  z-index: 5;
}
.box1:hover .sftcontent1 {
  opacity: 1;
}



//skill section

.box2 {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
  z-index: 2;
}

.box2:hover {
  height: 120px;

}

.box2 .imgbx2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #060c21;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 .imgbx2 img {
  max-width: 100px;
  max-height: 100px ;
  opacity: 0.1;
  transition: 0.5s;
  z-index: 4;
}

.box2:hover .imgbx2 img {
  position: relative;
  opacity: 1;
  transition: 0.5s;
  //top: -50px;
  z-index: 4;
}

.box2:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -4px;
  right: -4px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.box2:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  filter:blur(40px);
}
.box2:before, .box2:after {
  background: linear-gradient(235deg,#BE6AD3,#010615,#7C95F1);
}

//light hover on img

//about me page 
.section-sft2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont-family;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
  z-index: 1;
}


.aboutMe {
  position: relative;
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
  z-index: 2;
}

.aboutMe .imgbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #060c21;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: block;
}

.aboutMe .imgbx p {
  font-family: $primaryfont-family;
  font-size: $font-L;
  color: $third-color;
  opacity: 1;
  z-index: 4;
}

.aboutMe:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.aboutMe:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  filter:blur(40px);
}
.aboutMe:before, .aboutMe:after {
  background: linear-gradient(235deg,#BE6AD3,#010615,#7C95F1);
}
 

//Profile pic section
.aboutMe2 {
  position: relative;
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  z-index: 2;
  border-radius: 600px;
}


.aboutMe2 .profilePic {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  padding: 10px;
  border-radius: 600px;
  background: #060c21;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}




.aboutMe2:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  border-radius: 600px;
}
.aboutMe2:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  filter:blur(40px);
  border-radius: 600px;
}
.aboutMe2:before, .aboutMe2:after {
  background: linear-gradient(235deg,#BE6AD3,#010615,#7C95F1);
  border-radius: 600px;
}

//contact form
.section-sft3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont-family;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
  z-index: 1;
}

.boxContact {
  position: relative;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
  z-index: 3;
}

.boxContact:hover {
  height: 400px;

}

.boxContact .contact-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #060c21;
  color: $third-color;
  font-style: $primaryfont-family;
  font-size: $font-L;
  box-sizing: border-box;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.boxContact:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.boxContact:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  filter:blur(40px);
}
.boxContact:before, .boxContact:after {
  background: linear-gradient(235deg,#BE6AD3,#010615,#7C95F1);
}

//links to 3rd party contact info

.box3 {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background: #060c21;
  transition: 0.5s;
  z-index: 2;
}

.box3:hover {
  height: 120px;

}

.box3 .imgbx3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #060c21;
  box-sizing: border-box;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 .imgbx3 img {
  max-width: 100px;
  max-height: 100px ;
  opacity: 1;
  transition: 0.5s;
  z-index: 4;
}

.box3:hover .imgbx3 img {
  position: relative;
  opacity: 1;
  transition: 0.5s;
  //top: -50px;
  z-index: 4;
}

.box3:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -4px;
  right: -4px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.box3:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  filter:blur(40px);
}
.box3:before, .box3:after {
  background: linear-gradient(235deg,#BE6AD3,#010615,#7C95F1);
}